/* General container styles */
.form-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    width: 40%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}

input {
    width: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

/* Multi-fields layout */
.multi-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    margin-bottom: 5px;
}

.multi-fields label {
    flex: 1 1 100%; /* Allows labels to take full width on smaller screens */
}

@media (min-width:0px) {
    .multi-fields label {
        flex: 1 1 45%; /* Two labels per row on larger screens */
    }
}

@media (min-width: 900px) {
    .multi-fields label {
        flex: 1 1 30%; /* Three labels per row on very large screens */
    }
}

/* Button styles */
.address-submit {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #b73a3a;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.address-submit:hover {
    background-color:#fff;
    border: #b73a3a solid 1px;
    color: #b73a3a;
}
