/* FoodCard.css */
/* Overall card styling */
.food-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 320px;
  height: 60vh;
  margin: 5px;
  font-family: "Roboto", sans-serif;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Image styling */
.food-image {
  width: 100%;
  /* Full width for image */
  height: 55%;
  /* Maintain aspect ratio */
  display: block;
  /* Ensure no space below image */
}

.food-item-count .no-of-items {
  width: 2vw;
  text-align: center;
}

/* Container for name, category, and rating */
.food-name-and-category {
  padding: 16px;
  color: black;
  /* Padding around text */
  text-align: left;
  /* Center-align text */
}

.food-name-and-category p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.food-name-and-category p:nth-of-type(2) {
  font-size: 14px;
  margin-top: 4px;
  color: gray;
}

.rating-stars {
  position: absolute;
  right: 2%;
  top: 57%;
  width: 100px;
  height: auto;
  margin: 10px 0;
  display: block;
}

.food-description {
  font-size: 13px;
  color: #666;
  padding: 0 14px;
  margin-bottom: 16px;
  text-align: left;
}

.food-price {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  padding: 16px;
  text-align: right;
  border-top: 1px solid #ddd;
}

.food-card:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-6px);
}

/* Base styles for all devices */
.food-item-count {
  color: black;
  position: absolute;
  bottom: 1%;
  left: 1%;
  padding: 10px;
  border-radius: 30px;
  font-size: 1.2rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: start;
  /* background-color: rgba(245, 200, 200, 0.349); */
}

.food-item-count button {
  display: flex;
  justify-content: center;

  width: 40px;
  height: 40px;
  box-sizing: border-box;
  margin-inline: 2px;
  padding-inline: 2px;
  font-size: 0.9rem;
  text-align: center;
  font-weight: 700;
}

.food-item-minus:hover {
  background-color: rgb(129, 19, 19);
}

.food-item-plus:hover {
  background-color: rgb(99, 177, 56);
  z-index: 10;
}

.food-item-minus {
  background-color: rgb(154, 60, 60);
}

.food-item-plus {
  background-color: rgb(93, 150, 63);
  z-index: 10;
}

.food-item-count .no-of-items {
  width: 40px;
  /* Fixed width for item count display */
  text-align: center;
  font-size: 1.2rem;
  /* Responsive font size */
}

/* Responsive styles */
@media (max-width: 1200px) {
}

@media (max-width: 900px) {
}

@media (max-width: 600px) {
  .food-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 95vw;
    height: fit-content;
  }
  .food-image {
    width: 50%;
    height: 100%;
  }
  .food-item-count {
    top: 60%;
    left: 50%;
  }
  .food-card .rating-stars {
    visibility: hidden;
  }

  .food-card:hover .rating-stars {
    visibility: visible;
    position: absolute;
    top: 77%;
    left: 0%;
    background-color: rgba(8, 8, 8, 0.158);
    width: 50%;
    padding: 5px 35px;
    box-sizing: border-box;
    transition: all 0.15s ease;
  }
}
